{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter un nouveau plat</h1>
    {% include 'Plat/_form.html.twig' %}
    <a class="uk-button uk-button-default" href="/Admin/index">Back</a>


{% endblock %}