{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit recette {{ item.title }}</h1>
    {% include 'Item/_form.html.twig' %}
    <a href="/item/show/{{ recette.id }}">Back</a>
{% endblock %}
