
{% extends 'layout.html.twig' %}
{% block title %}Acceuil {{parent()}}{% endblock %}
{% block content %}
    <header>
        <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-dark" data-src="/assets/images/index.png" uk-img>
            <h1>Strascook</h1>
        </div>
    </header>

    <div class="uk-card uk-card-default uk-card-body  uk-margin-medium uk-align-center uk-margin-xlarge-left uk-margin-xlarge-right">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="/assets/images/chef_index.jpg" width="600" height="525" alt="Example image">
            <h3>A propos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>


<div class="uk-card uk-card-default uk-card-body uk-align-center uk-margin-xlarge-left uk-margin-xlarge-right">
    <h3 class="uk-card-title uk-text-center">Menu</h3>
    <p>Lorem ipsum  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="uk-button-group uk-flex uk-flex-center">
        <form action="/Jour/index/" methode="post">
        <button class="uk-button uk-button-default">Carte</button>
        </form>
        <div class="uk-inline ">
            <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
            <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: false; ">
                <ul class="uk-nav uk-dropdown-nav ">
                    <li class="uk-nav-header"><a href="/Entree/index">Entrées</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/Entree/indexCat/Omnivore">Omnivores</a></li>
                    <li><a href="/Entree/indexCat/vegetarian">Végétariens</a></li>
                    <li><a href="/Entree/indexCat/vegan">Végans</a></li>
                    <li class="uk-nav-header"><a href="/Plat/index">Plats</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/Plat/catSort/Omnivore">Omnivores</a></li>
                    <li><a href="/Entree/catSort/vegetarian">Végétariens</a></li>
                    <li><a href="/Entree/catSort/vegan">Végans</a></li>
                    <li class="uk-nav-header"><a href="/Dessert/index">Desserts</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Omnivores</a></li>
                    <li><a href="#">Végétariens</a></li>
                    <li><a href="#">Végans</a></li>
                    <li class="uk-nav-header"><a href="/Boissons/index">Boissons</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium uk-margin-xlarge-left uk-margin-xlarge-right" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="/assets/images/entree_index.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <h3 class="uk-card-title ">Les entrées</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="uk-button-group uk-flex uk-flex-center ">
                    <form action="/Entree/index/" method="post">
                    <button class="uk-button uk-button-default uk-flex uk-flex-center" >Entrées</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium uk-margin-xlarge-left uk-margin-xlarge-right" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="/assets/images/plat_index.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <h3 class="uk-card-title ">Les plats</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="uk-button-group uk-flex uk-flex-center ">
                    <form action="/Plat/index/" method="post">
                    <button class="uk-button uk-button-default uk-flex uk-flex-center">Plats</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium uk-margin-xlarge-left uk-margin-xlarge-right" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="/assets/images/dessert_index.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <h3 class="uk-card-title ">Les desserts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="uk-button-group uk-flex uk-flex-center ">
                    <form action="/Dessert/index/" method="post">
                    <button class="uk-button uk-button-default uk-flex uk-flex-center">Desserts</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium uk-margin-xlarge-left uk-margin-xlarge-right" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="/assets/images/boisson_index.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <h3 class="uk-card-title ">Les boissons</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="uk-button-group uk-flex uk-flex-center ">
                    <form action="/Boissons/index/" method="post">
                    <button class="uk-button uk-button-default uk-flex uk-flex-center">Boissons</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}

