{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit Dessert {{ dessert.name }}</h1>
    {% include 'Dessert/_form.html.twig' %}
    <a class="uk-button uk-button-default" href="/Admin/index">Back</a>


{% endblock %}
