{% extends 'layout.html.twig' %}
{% block title %}Modification {{parent()}}{% endblock %}

{% block content %}

        <div class="uk-container uk-container-small">
        <class ="uk-grid-small " uk-grid action="" method="post">
        <h1 class="uk-text-center">Editer vos informations personnelles, {{ user.name }} !</h1>
        {% include 'User/_form.html.twig' %}
        </div>
{% endblock %}
