{% extends 'layout.html.twig' %}

{% block content %}

    <div class="uk-section uk-section-default uk-section-large">
        <div class="uk-container uk-container-small">

            <div id="login" class="uk-width-large uk-margin-auto">
                <form action="#" method="post" class="uk-form-stacked">
                    <h1 class="uk-h2 uk-margin-medium-bottom uk-flex uk-flex-center">S'identifier</h1>
                    <div class="uk-text-lead uk-text-danger" style="display: none;">

                    </div>
                    <div class="uk-margin">
                        <label for="user" class="uk-form-label">Email or Username</label>
                        <input id="user" type="text" name="name" autocomplete="username" autofocus="autofocus" class="uk-input uk-form-large">
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-label uk-flex uk-flex-between">
                            <div class="uk-flex uk-flex-between">
                                <label for="password" class="uk-">Password</label>
                                <a class="uk-link-text">Forgot Password?</a>
                            </div>
                        </div>
                        <input id="password" type="password" name="pass" autocomplete="current-password" class="uk-input uk-form-large">
                    </div>
                    <div class="uk-margin-medium-top uk-text-center">
                        <button type="submit" class="uk-button uk-button-primary uk-button-large">Sign in</button>
                    </div> <p class="uk-text-center">No account yet? <a href="inscription">Sign up now</a></p>
                </form>

            </div>

        </div>
    </div>

{% endblock %}