{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ta commande a été validé sale chien</h1>

public function selectOneById(int $id)
    {
        // prepared request
        $statement = $this->pdo->prepare("SELECT * FROM " . static::TABLE . " WHERE id=:id");
        $statement->bindValue('id', $id, \PDO::PARAM_INT);
        $statement->execute();

        return $statement->fetch();
    }


    <a href="/Panier/add">Back</a>
{% endblock %}
