<hr class="uk-divider-icon">
<footer>
  <div class="uk-child-width-expand@s uk-height-medium uk-text-center" uk-grid>

    <div>
        <h3 class="uk-padding-small uk-padding-remove-bottom">Contact :</h3>
        <ul class="uk-list uk-list-large">
            <li>Tel : 09 56 66 65 48</li>
            <li>Mail : StrasCook@gmail.com</li>
            <li>Adresse : 32 rue du chemin vieux <br> 67654 STRASBOURG</li>
        </ul>
    </div>

    <div>
        <h3 class="uk-padding-small uk-padding-remove-bottom">Horaires :</h3>
        <ul class="uk-list uk-list-small uk-margin-medium-bottom ">
            <li>✔ Lun 17h-23h</li>
            <li>✔️ Mar 17h-23h</li>
            <li>✔️ Mer 17h-23h</li>
            <li>✔️ Jeu 17h-23h</li>
            <li>✔️ Ven 17h-23h</li>
            <li>❌ Sam fermé</li>
            <li>❌ Dim fermé</li>
        </ul>
    </div>

    <div>
        <h3 class="uk-padding-small uk-padding-remove-bottom">Réseaux :</h3>
        <ul class="uk-list uk-list-large">
            <li><img src="/assets/images/facebook_footer.png" > </li>
            <li><img src="/assets/images/insta_footer.png" ></li>
            <li><img src="/assets/images/linkedin_footer.png" ></li>
        </ul>
    </div>

    
</div>

</footer>


