<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
<a class="uk-navbar-item uk-logo uk-margin-medium-left" href="#"><img src="/assets/images/logo_anime.gif"></a>
<a class="uk-navbar-item uk-logo uk-margin-medium-left" href="#"><img src="/assets/images/logo_name.jpg"></a>

    <div class="uk-navbar-center">
        
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Acceuil</a></li>
            <li>
                <a href="#">Carte</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header"><a href="#">Entrées</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Végé</a></li>
                    <li><a href="#">Végan</a></li>
                    <li><a href="#">Normaux</a></li>
                    <li class="uk-nav-header">Plats</li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Végé</a></li>
                    <li><a href="#">Végan</a></li>
                    <li><a href="#">Normaux</a></li>
                    <li class="uk-nav-header">Desserts</li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Végé</a></li>
                    <li><a href="#">Végan</a></li>
                    <li><a href="#">Normaux</a></li>
                    <li class="uk-nav-header">Boissons</li>
                </ul>
                </div>
            </li>
            <li><a href="#">Réservation</a></li>
            <li><a href="#">Inscription/Connexion</a></li>
            
        </ul>

    </div>
</nav>