{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter nouvelle entrée</h1>
    {% include 'Entree/_form.html.twig' %}
    <a class="uk-button uk-button-default" href="/Admin/index">Back</a>

{% endblock %}
