{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new Boisson</h1>
    {% include 'Boissons/_form.html.twig' %}
    <a class="uk-button uk-button-default" href="/Admin/index">Back</a>


{% endblock %}
